Repository isMxy0934/the-nomad-data-stack: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, check-lakehouse-core-imports, pytest

.pre-commit-config.yaml:

# Pre-commit hooks for enforcing code quality and architecture boundaries
# Install: uv add pre-commit --dev && uv run pre-commit install
# Run manually: uv run pre-commit run --all-files
#
# Hooks order:
# 1. Fast checks first (ruff format/lint)
# 2. Architecture checks
# 3. Tests (can be slow)

repos:
  - repo: local
    hooks:
      # Ruff format check (auto-fix)
      - id: ruff-format
        name: Ruff Format (auto-fix)
        description: Format Python code with ruff
        entry: uv run ruff format
        language: system
        files: \.py$
        pass_filenames: true

      # Ruff lint check (auto-fix)
      - id: ruff-check
        name: Ruff Lint
        description: Lint and auto-fix Python code with ruff
        entry: uv run ruff check --fix
        language: system
        files: \.py$
        pass_filenames: true

      # Architecture check (existing)
      - id: check-lakehouse-core-imports
        name: Check lakehouse_core has no Airflow imports
        description: Ensure lakehouse_core/ remains orchestrator-agnostic
        entry: python scripts/check_imports.py
        language: python
        files: ^lakehouse_core/.*\.py$
        pass_filenames: true
        verbose: true

      # Tests (can be slow - only run when tests are modified)
      - id: pytest
        name: Run Tests
        description: Run pytest on modified tests
        entry: uv run pytest
        language: system
        files: ^tests/.*\.py$
        pass_filenames: true

Refine pre-commit configuration for enhanced clarity and efficiency
  .pre-commit-config.yaml
Due: none

Add backfill DAGs for optimized batch processing
  dags/dw_catalog_dag.py
  dags/dw_dags.py
  dags/dw_dags_backfill.py
  dags/dw_init_dag.py
  dags/utils/dag_run_utils.py
  docs/backfill-batch-mode.md
  tests/dags/test_backfill_dags.py
  tests/dags/test_catalog_dag.py
  tests/utils/test_dag_run_utils.py
Due: ruff-format, ruff-check, pytest

Refactor whitespace and improve code clarity in DAG files
  dags/dw_dags.py
  dags/dw_dags_backfill.py
  dags/utils/dag_run_utils.py
  tests/dags/test_backfill_dags.py
  tests/dags/test_catalog_dag.py
Due: ruff-format, ruff-check, pytest

Add ingestion runner and DuckDB compactor with updated configurations
  PLAN.md
  README.md
  dags/ingestion/configs/etf_universe_whitelist.yaml
  dags/ingestion/configs/fund_etf_history.yaml
  dags/ingestion/configs/fund_etf_spot.yaml
  dags/ingestion/configs/trade_date_hist.yaml
  dags/ingestion/core/interfaces.py
  dags/ingestion/core/loader.py
  dags/ingestion_dags.py
  docs/architecture-notes.md
  docs/conventions.md
  lakehouse_core/ingestion/__init__.py
  lakehouse_core/ingestion/compactors.py
  lakehouse_core/ingestion/extractors.py
  lakehouse_core/ingestion/interfaces.py
  lakehouse_core/ingestion/loader.py
  lakehouse_core/ingestion/partitioners.py
  lakehouse_core/ingestion/runner.py
  lakehouse_core/ingestion/settings.py
  lakehouse_core/testing/ingestion_fixtures.py
  scripts/run_ingestion.py
  scripts/validate_ingestion_runner.py
  tests/dags/test_ingestion_dags.py
  tests/lakehouse_core/ingestion/test_compactor.py
  tests/lakehouse_core/ingestion/test_runner.py
Due: ruff-format, ruff-check, check-lakehouse-core-imports, pytest

Enhance ingestion DAG parameters with Airflow's Param type
  dags/ingestion_dags.py
Due: ruff-format, ruff-check

Enhance DuckDBCompactor to support concurrent partition uploads
  lakehouse_core/ingestion/compactors.py
  lakehouse_core/ingestion/runner.py
Due: ruff-format, ruff-check, check-lakehouse-core-imports

Enhance logging and performance metrics in ingestion process
  lakehouse_core/ingestion/compactors.py
  lakehouse_core/ingestion/runner.py
Due: ruff-format, ruff-check, check-lakehouse-core-imports

Refactor DuckDBCompactor to improve partition handling and file writing
  lakehouse_core/ingestion/compactors.py
  tests/lakehouse_core/ingestion/test_compactor.py
Due: ruff-format, ruff-check, check-lakehouse-core-imports, pytest

Fix SQL syntax in _write_partitioned_files function by removing unnecessary semicolon
  lakehouse_core/ingestion/compactors.py
Due: ruff-format, ruff-check, check-lakehouse-core-imports

Refactor SQL query in _write_partitioned_files function to exclude partition date column, improving data export accuracy.
  lakehouse_core/ingestion/compactors.py
Due: ruff-format, ruff-check, check-lakehouse-core-imports

Refactor SQL queries in _write_partitioned_files and _write_partition_file functions to exclude additional columns, enhancing data export accuracy and consistency.
  lakehouse_core/ingestion/compactors.py
Due: ruff-format, ruff-check, check-lakehouse-core-imports

Add new DAG for backfilling data with configurable parameters
  dags/dw_start_backfill_dag.py
Due: ruff-format, ruff-check

Refactor SQL query in dim_trade_calendar_full.sql to cast date components as INTEGER for improved data type consistency.
  dags/dim/dim_trade_calendar_full.sql
Due: none

Add dim_etf_full schema and view definitions
  catalog/migrations/0007_dim_etf_full_table.sql
  dags/dim/dim_etf_full.sql
  dags/dim/dim_trade_calendar_full.sql
Due: none
